* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    width: auto;
}

#cabeza  {
    display: grid ;
    flex-direction: column;
    text-decoration: none;
    background: linear-gradient(skyblue, pink);
    list-style: none;
    align-content: center;
    justify-content: center;
    height: auto;
    justify-items: center;
    width: 100vw;
}

.cabeza__logo {
    width: auto;
    height: auto;
    text-align: center;
}

@keyframes logoAnimado {
    0% {
        scale: -1;
    }
    33% {
        scale: -0.6;
    }
    66% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
    
}
.cabeza__logo a img {
    width: 15vw;
    margin-top: 3vh;
    animation-name: logoAnimado;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0.5;
}
@media (max-width: 768px) {
    .cabeza__logo a img {
        width: 30vw;
        padding-top: 0vh;
        margin-top: 0;
        top: 0;
    }
}

.cabeza__logo a img:hover{
    transform: rotate(360deg);
    transition: linear 1s;    
}

 .cabeza__banner {
    background-color: rgb(151, 18, 18);
    width: 100vw;
    color: white;
    text-align: center;
    position:  sticky;
    top: 0;
    z-index: 999999;
} 


.cabeza__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 7px;
    padding-top: 7px;
    justify-items: center;
    align-items: center; 
    text-align: center;   
}

.cabeza__menu ul li{
    text-decoration: none;
    padding: 1vh;
    width: auto;
    height:auto;
    border-radius: 20px;
    border: 1px rgb(243, 231, 165) ;
    border-style: groove;
    color: rgb(178, 199, 236);
    background-color: pink;
    list-style: none;
    transform: translateX(-8%);
}

.cabeza__menu ul li a{
    color: rgb(5, 178, 201);
    font-style: italic;
    font-size: large;
    padding: auto;
    text-decoration: none;
}



.cabeza__menu ul li:hover {
    background-color: rgb(237, 243, 181);
    font-family: sans-serif;
}

#principal {
    background-image: url(../imagenes/fondo_sin_color_chico.png);
    background-repeat: repeat;
    background-position: top;
    padding-top: 1vh;
    height: auto;
}

#principal h1{
    color:rgb(245, 28, 71);
    text-align: center;
    font-family: serif;
    background-color: rgb(169, 211, 228);
}

#principal h2{
    font-size: xx-large;
    text-align: center;
    color: pink;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #fff8dc;
    width: 100vw;
    animation-name: shakeY ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes fadeInRight {
    0% {
        animation: jello;
        display: inline;
    }
}
.fotos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    width: 100vw;
    animation-name: fadeInRight ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: 20s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@media (max-width : 500px) {
    .fotos span img{
        width: 30vw;
    }
}

#productos {
    width: 100vw;
    padding-top: 10px;
}

#productos h2 {
    text-align: center;
    color: rgb(216, 132, 153) ;
    background-color: rgb(197, 238, 238);
    font-style: italic;
}

#productos .contenedor__productos{
    display: grid;
    background-image: url(../imagenes/fondo_sin_color_chico.png);
    background-repeat: repeat;
    width: 100wv;
    padding-top: 10vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    justify-content: center;
    align-content: center;
    margin: 1vh 1vw;
    align-items: center;
    justify-items: center;
    padding-bottom: 10vh;;
}

@media (max-width : 768px) {
    #productos .contenedor__productos{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 10px;
        padding-top: 2px;
        padding-bottom: 0;
        background-size: 5vh;
    }
}

#productos .contenedor__productos .producto__item {
    justify-items: center;
    align-items: center;
    background-color: pink;
    padding: 1vh;
    padding-bottom: 0;
}

#productos .contenedor__productos .producto__item a,img {
    width: 22vw;
    height: auto;
}

@media (max-width : 768px) {
   .producto__item a,img {
        width: 40vw;
        justify-content: center;
    }
}

#productos .contenedor__productos .producto__item p {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: 'Caveat', cursive;
    font-style: italic;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgb(247, 148, 163);
    color: rgb(197, 238, 238);
    margin-top: 1vh;
}

#pie {
    width: 100vw;
    padding: 0;
}

.contenedor__pie {
    background: linear-gradient(skyblue 40%, pink );
    display: flex;
    align-items: center;  
    padding: 1vw; 
}

@media (max-width: 768px) {
    .contenedor__pie {
        align-content: center;
        align-items: center;
    }
}

@keyframes textoPie {
    0% {
        color: rgb(247, 136, 156);
    }
    50% {
        color:rgb(149, 157, 224);
    }
    80% {
        color: rgb(247, 38, 73);
    }
    
}

.hijo__1 {
    grid-column: 1/3;
    grid-row: 1/2;
    color: rgb(216, 132, 153);
    font-size: 1rem;
    animation: textoPie;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    padding-left: 4px;
}

.contenedor__pie .hijo__2 a img {
    width: 6vw;
    padding: 1vh;
}
@media (max-width: 768px) {
    .contenedor__pie .hijo__2 a img{
        width: 11vw;
    }
}

.contenedor__pie .hijo__3 a img {
    width: 6vw;
    padding: 1vh;
}
@media (max-width: 768px) {
    .contenedor__pie .hijo__3 a img{
        width: 11vw;
    }
}

/* Estilo p치gina Tortas */

.banner__fijo{
    background-color: rgb(151, 18, 18) ;
    color: white;
    width: 100vw;
    position: fixed;
    z-index: 999999999999;
    text-align: center;
}

.tortas__logo {
    display: flex;
    justify-content: center;
    padding-top: 4vh;
    background: linear-gradient(pink, skyblue);
}

#navegacion .tortas__logo a img {
    width: 15vw;
}
@media (max-width: 768px) {
    #navegacion .tortas__logo a img{
        width: 40vw;
        padding-top: 0vh;
    }
}

#texto {
    padding: 1vh;
}

#texto .tortas__titulo {
    text-align: center;
    color: pink;
    font-style: italic;
}

.tortas__h3 {
    text-align: center;
    font-size: medium;
    color: pink;
}

.tortas__parrafo-1 {
    text-align: center;
    font-size: large;
    color: palevioletred;
}

.tortas__parrafo-2 {
    text-align: center;
    font-size: larger;
    color: palevioletred;
    font-style: italic;
}

#tortas .contenedor__fotos{
    display: grid;
    background-image: url(../imagenes/fondo_sin_color_chico.png);
    background-repeat: repeat;
    width: 100wv;
    padding-top: 3vh;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3vh;
    justify-content: center;
    align-content: center;
    margin: 1vh 1vw;
    align-items: center;
    justify-items: center;
    padding-bottom: 2vh;;
}
@media (max-width: 768px) {
    #tortas .contenedor__fotos{
        background-size: 3vh;
        grid-template-columns: 1fr 1fr;
        gap: 1vh;
        justify-content: center;
        align-content: center;
    }
}

#tortas .contenedor__fotos div {
    background-color: pink;
    padding: 1vh;
}

/* P치gina de contacto */
#cabeza__contacto {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#cabeza__contacto .cabeza__logoContacto a img {
    text-align: center;
    width: 15vw;
}
@media (max-width: 768px) {
    #cabeza__contacto .cabeza__logoContacto a img {
        width: 30vw;
    }
}
.textoContacto{
    width: 100vw;
    color: pink;
    text-align: center;
    background-color: rgb(194, 238, 255);
    font-family: 'Shalimar';
}
#cabeza__contacto .cabeza__menu ul{
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    
}
@media (max-width: 768px){
    #cabeza__contacto .cabeza__menu ul{
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 0px;
        padding-left: 6vw;
    }
}

#contacto {
    background-image: url(../imagenes/fondo_sin_color_chico.png);
    background-repeat: repeat;
    background-size: 5vh;
}

#contacto .formulario {
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding-top: 3vh;
    padding: 2vh;
    background-color: pink;
}
.formulario .formularioItems {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){
    .formulario .formularioItems {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        gap: 25px;
        padding-left: 30vw;
        padding-right: 30vw;
    }
}
#imagenesEnContacto {
    padding-top: 0;
}
.carruselCss {
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
}
.carruselCss ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 700%;
    height: auto;
    animation: carruselConCss 28s infinite alternate ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}
.carruselCss ul li {
    width: 100%;
    list-style: none;
}
.carruselCss img {
    width: 100%;
}
@keyframes carruselConCss {
    0% {margin-left: 0;}
    10% {margin-left: 0;}

    14% {margin-left: -100%;}
    24% {margin-left: -100%;}

    28% {margin-left: -200%;}
    38% {margin-left: -200%;}

    42% {margin-left: -300%;}
    52% {margin-left: -300%;}

    56% {margin-left: -400%;}
    66% {margin-left: -400%;}

    70% {margin-left: -500%;}
    80% {margin-left: -500%;}

    84% {margin-left: -600%;}
    100% {margin-left: -600%;}
    
}
@media (min-width: 850px) {
    .carruselCss {
        display: none;
    }
}
#pieDeContacto {
    width: 100vw;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.hijo__1 h3{
    font-size: 4vh;
}
@media (max-width: 768px) {
    .hijo__1 h3 {
        font-size: 1.2rem;
    }
}

/* P치gina Petit Fours */

.petit__titulo { 
    text-align: center;
    color: palevioletred;
}

.petit__texto {
    text-align: center;
    font-family: sans-serif;
    color: pink;
}

#petitFotos .petit__contenedor {
    display: grid;
    background-image: url(../imagenes/fondo_sin_color_chico.png);
    background-repeat: repeat;
    width: 100wv;
    padding-top: 3vh;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3vh;
    justify-content: center;
    align-content: center;
    margin: 3vh 3vw;
    align-items: center;
    justify-items: center;
}
@media (max-width: 768px){
    #petitFotos .petit__contenedor {
        grid-template-columns: 1fr 1fr;
        background-size: 3vh;
    }
}

#petitFotos .petit__contenedor div p {
    background-color: pink;
    padding: 2vh 2vw;
}

/* Estilo de p치gina Nuestros productos */

#paginaProductos {
    display: grid ;
    flex-direction: column;
    text-decoration: none;
    background: linear-gradient(skyblue, pink);
    list-style: none;
    align-content: center;
    justify-content: center;
    height: auto;
    justify-items: center;
    width: 100vw;
}

#paginaProductos .cabeza__logo{
    padding-top: 4vh;
}

#paginaProductos .cabeza__menu ul li a {
    text-decoration: none;
}

#productosPrincipal {
    width: 100vw;
    margin: auto;
}

#productosPrincipal .productosPrincipal__contenedor{
    height: 20vh;
    animation-name: fotosdefondo;
    animation-duration: 15s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
@keyframes fotosdefondo {
    0% {
        background-image: url(../imagenes/31.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vw;
        width: 100vw;
    }
    33% {
        background-image: url(../imagenes/40.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vw;
        width: 100vw;
    }
    66% {
        background-image: url(../imagenes/torta5.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vw;
        width: 100vw;
        
    }
    100% {
        background-image: url(../imagenes/34.png) ;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20vw;
        width: 100vw;
    }
}

#productosPrincipal .productosPrincipal__contenedor h1{
    font-family: 'Amatic SC', cursive;;
    color: rgb(241, 56, 87);
    font-size: 2rem;
}
@media (min-width: 768px) {
    #productosPrincipal .productosPrincipal__contenedor h1{
        font-size: 5rem;
    }
    
}

.productosPrincipal__catalogo {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    
    gap: 10px;
}
.contenedor{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: auto;
    gap: 5px;
    padding-top: 1vh;
}
@media(max-width:768px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
    }
}
.contenedor figure{
    position:relative;
    cursor: pointer;
    width: 21vw;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(241, 56, 87, 0.7);
}
@media (max-width: 768px) {
    .contenedor figure{
        width: 40vw;
    }
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 154, 169, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: rgb(34, 110, 250);
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}
.contenedor figure .capa p{
    color: rgb(48, 51, 252);
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    margin: auto;
}

@media (max-width: 768px) {
    .productosPrincipal__catalogo {
        grid-template-columns: 1fr 1fr;
        padding: 3vw;
    }
    .productosPrincipal__catalogo .catalogo__item img {
        width: 43vw;
        row-gap: 5px;
    }
}


.contenedor__pie {
    background: linear-gradient(skyblue 40%, pink );
    display: flex;
    align-items: center;  
    padding: 1vw; 
}

@media (max-width: 768px) {
     .contenedor__pie {
        align-content: center;
        align-items: center;
    }
}