* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    width: auto;
  }
  
  $completo: 100vw;
  $tablet: 768px;

  #navDePostres {
    width: $completo;
    height: auto;
    background: linear-gradient(skyblue, pink);
  }
  #navDePostres .bannerConSass {
    background-color: rgb(151, 18, 18);
    color: white;
    text-align: center;
    position: fixed;
    width: $completo;
  }
  #navDePostres .logoConSass {
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 3vh;
    a img {
      width: auto;
      position: center;
    @if (max-width: $tablet) {
      width: 30vw;
        }    
    }
  }
  
  #principalConSass {
    width: 100vw;
    background-image: url(../imagenes/fondo_sin_color_chico.png);
    background-repeat: repeat;
  }